$font-family-main: "Mont", arial, helvetica, sans-serif;

$header-height: 64px;
$footer-height: 96px;

$color-primary: #313237;
$color-black: #010101ce;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-white: #fff;
$color-green: #0bf10338;
$color-green-dark: #61b55d;
$color-red: #ff292994;
$color-yellow: #f1d703;
$color-purple: #cd57eb;
$color-grey: #b4bdc41c;
$color-shadow-primary: #17203142;
$color-shadow-secondary: #17203124;
$color-shadow-primary-dark: #f7fafdc5;
$color-shadow-secondary-dark: #bec3c985;
