@import "../../../styles/main.scss";

.icon {
  @include squareSize(16px);

  display: block;
  background-position: center;
  background-repeat: no-repeat;

  &__arrow-left {
    background-image: url(../../../images/icons/arrow-left-hover.svg);

    &--disabled {
      background-image: url(../../../images/icons/arrow-left.svg);
    }

    &--dark {
      background-image: url(../../../images/icons/arrow-left-dark.svg);
    }
  }

  &__arrow-right {
    background-image: url(../../../images/icons/arrow-right-hover.svg);

    &--disabled {
      background-image: url(../../../images/icons/arrow-right.svg);
    }

    &--dark {
      background-image: url(../../../images/icons/arrow-right-dark.svg);
    }
  }

  &__arrow-up {
    background-image: url(../../../images/icons/arrow-up-hover.svg);

    &--disabled {
      background-image: url(../../../images/icons/arrow-up.svg);
    }

    &--dark {
      background-image: url(../../../images/icons/arrow-up-dark.svg);
    }
  }

  &__play {
    background-image: url(../../../images/icons/play.svg);
  }

  &__pause {
    background-image: url(../../../images/icons/pause.svg);
  }

  &__blocked {
    background-image: url(../../../images/icons/blocked.svg);
  }

  &__star-empty {
    background-image: url(../../../images/icons/star-empty.svg);

    &--dark {
      background-image: url(../../../images/icons/star-empty-dark.svg);
    }
  }

  &__star-filled {
    background-image: url(../../../images/icons/star-filled.svg);

    &--dark {
      background-image: url(../../../images/icons/star-filled-dark.svg);
    }
  }

  &__star-half-filled {
    background-image: url(../../../images/icons/star-half-filled.svg);

    &--dark {
      background-image: url(../../../images/icons/star-half-filled-dark.svg);
    }
  }
}
