$font-family-main: "Mont", arial, helvetica, sans-serif;

$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-white: #fff;
$color-green: #0bf10338;
$color-red: #ff292994;
$color-yellow: #f1d703;
$color-purple: #cd57eb;
$color-grey: #b4bdc41c;

$header-height: 64px;
$footer-height: 96px;
