@import "../../../styles/main.scss";

.error-notification {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 40px;

  @extend %big-text;
  color: $color-primary;
  transition: all 0.50s linear;

  &--dark {
    color: $color-white;
  }
}
