@import "../../styles/main.scss";

.course-card {
  position: relative;
  box-sizing: border-box;
  width: 550px;
  padding: 24px;

  background-color: $color-white;
  border: 1px solid $color-elements;
  border-radius: 20px;
  text-decoration: none;
  color: $color-primary;
  transition: all 0.5s;
  cursor: pointer;

  @include onTablet {
    width: 400px;
  }

  @include onDesktopWide {
    width: 550px;
  }

  &:hover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.26);
  }

  &:hover &__pic {
    transform: scale(1.1);
  }

  &__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 208px;
    margin-bottom: 24px;
    overflow: hidden;
  }

  &__pic {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s;
  }

  &__title {
    @extend %title-text;
    margin-bottom: 16px;
  }

  &__category {
    @extend %title-text;
    float: right;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 18px;

    &--yellow {
      background-color: $color-yellow;
    }

    &--purple {
      background-color: $color-purple;
    }

    &--red {
      background-color: $color-red;
    }

    &--green {
      background-color: $color-green;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__feature-item {
    @extend %small-text;
    color: $color-secondary;
    display: flex;
    justify-content: space-between;
  }

  &__feature-info {
    @extend %small-text;
    color: $color-primary;

    &--rating {
      display: flex;
      align-items: center;
    }
  }
}
