@import "../../styles/main.scss";

.course-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0 0 40px;

  @include onDesktopWide {
    justify-content: flex-start;
  }
}
